<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Search my posts!
  </h1>
  <app-searchbox #search></app-searchbox>
  <app-list>
    <app-card *ngFor="let post of posts" [item]="post"></app-card>
  </app-list>
</div>